.card {
  color: #3f556b;
  max-width: 340px;
  height: 360px;
  background: #dee6ee;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  padding: 4px 12px 5px 15px;
  border-radius: 3px;
  margin: 12px;
  cursor: pointer;
}
.card:hover {
  transition: 0.6s ease-in;
  transform: scale(1.06);
}
.card p {
  padding: 0;
}
.jobTitle {
  font-size: 19px;
  color: #3f556b;
  padding-top: 15px;
  font-weight: bold;
}
.companyDetails {
  font-size: 15.7px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #636e72;
}

.deadline {
  color: #2980b9;
  font-size: 16px;
}
.paragraph {
  font-size: 14px;
}
