.skills{
    justify-content: left;
    margin: 5px 20px; 
    margin-left: 30px;
}

.title{
    color:#096691;
    text-transform:capitalize;
}

.skillTags{
    line-height: 1.5;
    margin-bottom: 30px;
}

.skill{  
    display: inline;
    margin-right: 20px;
    color: #636E72; 
}