.skills{
    justify-content: left;
    margin: 10px 30px;
}

.title{
    color:#096691;
    text-transform:capitalize;
}

.skillTags{
    line-height: 0.5;
    margin-bottom: 30px;
}

.skill{  
    display: inline;
    margin-right: 20px;
    text-transform:uppercase;
}