.card {
  border:2px solid #d9e0e8; 
  text-align: center;
  border-radius: 5%;  
  padding: 0.2rem;
  margin: 20px 5px;
  min-width:20%;
  min-height: 300px;
}
.img {
  border-radius: 50%; 
}
.p {
  font-weight: bold;
  line-height: 1;
  color: #636E72;
  font-size: 18px; 
}
