.card {
  border:2px solid #d9e0e8; 
  text-align: center;
  border-radius: 5%;  
  padding: 0.2rem;
  margin: 20px 5px;
  min-width:24%;
  min-height: 280px;
}
.img {
  border-radius: 50%;   
   display: block;
    width: 90%; 
    margin-left: auto;
    margin-right: auto; 
    height: 160px;
}
.p {
  font-weight: bold;
  line-height: 1;
  color: #636E72;
  font-size: 18px; 
}
