.card {
  /* border:2px solid #d9e0e8; */
  box-shadow: 2px 4px 4px 2px #d9e0e8; 
  text-align: center;
  border-radius: 5%; 
  margin: 20px 5px;
  min-width:20%;
 height: fit-content;
 margin: "10px 45px";
 padding: 5px; 

}
.pic{
  width:50%;
  margin: auto;
}
.img {
  border-radius: 50%; 
}

.details{
  width:100%; 
}
.p {
  font-weight: bold;
  line-height: 1;
  color: #636E72;
  font-size: 18px; 
}

.card:hover{
   transition: 1s ease-in;
  transform: scale(1.06); 
}