.navbar{
    
    border-bottom: 1px solid  #676B6C;
}
.navbar h5{
    color: white;
    margin-right: 0.5rem;
}
.id{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;
}
.id-image{
    width: 25px;
    height: 25px;
    border-radius: 90px;
}