.list ul{
line-height: 1;
}

.list li{
    list-style: none;
    color: #405467;
    margin-left: 25px;
    line-height: 2;
}
.list li:hover{
    list-style: none;
    font-weight: 500;
    color: #A82E2E;
    font-weight: 600;

}
.list li:active{
    list-style: none;
    font-weight: 500;
    color: #A82E2E;
    font-weight: 600;

}