.flexitem {
  margin: 20px 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexitem > div {
  flex: 0 0 300px;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .flexitem {
    flex-direction: column;
    margin: 10px 15px;
  }
  .flexitem > div {
    width: 100%;
  }
}

@media screen and (max-width: 830px) {
  .flexitem {
    margin: 10px;
    flex-direction: row;
  }
  .flexitem > div {
    flex-basis: 50%;
    margin: 3px;
    width: 80%;
  }
}
