.left {
  background-color: #d9e0e8;
  width: 300px;
  position: fixed;
  height: 100%;
}
.left_box {
  margin-left: 0.7rem;
}
 
@media screen and (max-width: 786px) {
  .left {
    width: 230px;
  }
}

/* @media screen and (max-width: 480px) {
  .left {
    display: none;
  } 
} */
