 .container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
} 

.border{
    border-bottom: 3px solid #A82E2E;  
    margin: 5px 30px 20px 15%;
}
 
.allProjects{
margin-bottom: 50px;
margin-top: 30px;
}

 .flexitem { 
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 5px;
}