.right {
  width: 100%;
  height: 100%;
  margin: 10px 65px 5px 48px;
  background-color: #e5e5e5;
  padding-top: 20px;
  margin: auto;
  margin-left:300px; 
}

.FormsText {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  max-width: 400px;
}


.FormsText input {
  height: 40px;
  border-radius: 8px;
  background-color: transparent;
}

.FormsText label {
  color: #096691;
  margin: 10px 0;
}
 
.FormsText textarea {
  /* height: 40px; */
  border-radius: 8px;
  border: 2px solid #34495e;
  background-color: transparent;
} 

.ProfileFormsText {
  display: flex;
  flex-direction: column;
  margin: 10px 30px 10px 500px;
  max-width: 400px;
  /* overflow: scroll; */
}
.ProfileFormsText input {
  height: 40px;
  border-radius: 8px;
  background-color: transparent;
}

.ProfileFormsText label {
  color: #096691;
  margin: 10px 0;
}
 
.ProfileFormsText textarea {
  /* height: 40px; */
  border-radius: 8px;
  border: 2px solid #34495e;
  background-color: transparent;
} 

.imageupload {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10px auto;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid lightgray;
}

.imageupload_progress {
  width: 100%;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 10px;
  height: 8px;
}

@media screen and (max-width: 830px) {
  .right {
    margin: 15px 0 15px 15px;
    margin-left:230px;
  }
}
 


