.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #096691;
}
.grid {
  width: 360px;
  height: 370px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  margin-top: 80px;
  background-color: #f3f6f9;
  border-radius: 2px;
  padding: 15px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.2);
}

.grid input {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  margin: 13px 0;
  background-color: inherit;
}

.grid button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid gray;
  background-color: #0081fe;
  color: #ffffff;
  cursor: pointer;
}
/* .logo {
  margin: 10px;
  padding-left: 40px;
} */

@media screen and (max-width: 1024px) {
  .container {
    height: 90vh;
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: 80vh;
  }
  .grid {
    margin: 20px auto;
  }
}

@media screen and (max-width: 360px) {
  .container {
    width: 100%;
    height: 100vh;
  }
  .grid {
    flex-direction: column;
    width: 100%;
    height: 500px;
    margin: 10px;
  }
}
