.navbar {
  height: 15vh;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100;
  padding: 0.75rem;
  position:sticky;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0px 0px 8px 0px #000000;
} 
.links {
  display: flex;
}
.navlink {
  list-style: none;
  margin: 0 1.5rem;   
  font-weight: 400;
  font-size: 20px;
  color: black;
}
.navlink:hover, .active{
  color: #096691;
} 

.user{
display: flex;
align-items: center;
color: #636E72;
}
 
.img{      
  border-radius: 50%; 
  display: inline;  
}
 .menu{  
    line-height: 20px;
    position: absolute;
    width: max-content;
    height: fit-content;
    background: #096691 ; 
    top: auto;  
    right: 0;
    color: #fff;
    padding:10px;  
 } 
 .menuitem:hover{
   color:#D9E0E8
 }