.container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  /* border: 3px solid red; */
}





.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}



.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
